html {
  background-color: beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
}
header {
  padding: 24px;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
  display: grid;
}
footer {
  background-color: burlywood;
  padding: 24px;
  margin-top: 24px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 24px;
}
main {
  max-width: 800px;
  margin: auto;
}
input {
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 12px;
}
textarea {
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 12px;
  height: 100px;
}
button {
  padding: 12px;
  font-size: 110%;
}
.book-review-form {
  background-color: white;
  padding: 24px;
}
.main-page-book-review {
  background-color: white;
  border: 1px solid lightblue;
  padding: 24px;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: stretch;
}
.book-cover {
  width: 200px;
  height: auto;

  display: grid;
  grid-column: 1;
  grid-row: 1 / 6;
  align-items: stretch;
  padding: 24px;
}
.book-title {
  font-weight: bold;
  font-size: 150%;
}
.book-rating {
  font-size: 125%;
}
.book-authors {
  color: dimgray;
}
